# Arquivos de Configuração Sensível
.env
.env.*.local
.env.local
# Arquivos de Build (se aplicável)
dist/
build/
# Arquivos de Teste (cobertura, etc.)
coverage/
# Arquivos de Dependências
node_modules/
# Arquivos de Log
*.log
logs/
# Arquivos de Teste (cobertura, etc.)
coverage/
.nyc_output/
# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos
articles.json
